.navbar {
  overflow: hidden;
  background-color:  black;
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  border-top: 0.05rem solid #ffffff;
}

.navbar a {
  float: left;
  display: block;
  color:  #fffafa;
  text-align: center;
  padding: 15px ;
  text-decoration: none;
  font-size: 1.35rem;
  border-radius: 15px;
  justify-content: space-around;
 
}

.navbar a:hover {
 
  color: #b2beb5;
}


.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}