body {
  margin:0;
  background-color:#1b1b1b;
  font-family: "Lato", sans-serif;
}

.ticker {
  border-top: solid 2px #A2A0A1;
  position:fixed;
  bottom: 0;
  left: 0; 
  z-index: 1;
}


#mainbody {
  padding-top: 50px;
}

.sbtesting {
  width: 100px;
  height:100px;
  padding: 10px;
}

#wlabel {
  font-size: 10px;
  color: white;
  position: center;
  margin-bottom: -2rem;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
  align-content: space-evenly;

}

.sidebar img {
  width: 100px;
  height:100px;
  padding: 10px;
}

.sidebar #btcw {
  width: 100px;
  height:100px;
  padding: 10px;
}



.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


.openbtn {
  font-size: 20px;  
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;  
  border-radius: 18px;
  border: none;
  position: fixed;
  z-index: 3;

}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

html {
  height: 1500px;
}

.wrap {
  padding-left:25px;
}

.sidebar-top {
  
  height: 75px;
  
}
.chartpadding {

  padding-left: 15px;
  padding-right: 15px;

}

.label {
  margin-left: 30px;
  color:  white;
  font-size: 25px;

}

.btcchart {
  
  border-radius: 5px;


}

.resize {
  resize: both;
  overflow: auto;
}

.headerarea {
  height: 200px;
  width: 100%;
  padding-top: 25px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px ;
  background-image: linear-gradient(#080808 35%, #1b1b1b 65%);

}

.space {
  height: 18px;
}

select {
  height: 35px;
  width: 80%;  
  background-color: #fff0;
  color: white;
  border-radius: 10px;
}

option {
  background-color: black;
}

option, a {
  color:white ;
}
